p {
    background-color: var(--color3);
    padding: 20px;
    padding-inline: 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

span {
    font-weight: bold;
}

@media (min-width: 768px) {
    p {
    padding-inline: 80px;
    }
}